@media only screen and (min-width: 32.5em) {

    body {
        font-size: 14px;
        padding: 2em;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

}