/* COLOR SCHEME
white--rgb(253, 253, 253) #ffffff
yellow--rgb(246, 240, 124) #f6f07c
light blue--rgb(176,211,230) #b0d3e6
dark blue--rgb(7, 19, 57) #071339

TYPOGRAPHY
Merriweather weight 700
Poppins

*/

/*------body rules------*/
body {
    background-color: #071339;
}


/*-------header rules---------*/
header {
    background-color: #f6f07c;
    display: block;
}

header img {
    width: 10%;
    height: auto;
    float: left;
    border-radius: 50%;
    padding: 2%;
}

header h1 {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    position: relative;
    top: 10px;
    
}

header h2 {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/*----------nav rules-----------*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #f6f07c;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 12px;
}

nav ul.hide {
    display: none;
}

ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #f6f07c;
    background-color: #071339;
}

ul li.active a {
    color: #071339;
    background-color: #b0d3e6;
}

ul li a:hover {
    color: #071339;
    background-color: #b0d3e6;
}


/*------hero image-------*/

div.herodiv {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0;
}

figure.hero-img img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}



/*--------main rules---------*/
main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5px;
    margin: 0 auto;
    background-color:#ffffff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

main figure {
    margin: 0;
}

main img[data-src] {
    filter: blur(0.2rem);
}

main img {
    display: block;
    padding: 0;
    filter: blur(0rem);
    transition: filter 0.5s;
}

main h1 {
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

main h2 {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

main h3 {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-weight: 700;
}



/*---reminder---*/
#message {
    color: #071339;
    background-color: #ffffff;
    box-shadow: 0 0 10px orangered;
    padding: 2%;
}
div.showme {
    display: block;
}

div.hideme {
    display: none;
}


/*---------Town Cards--------*/

div.cards {
    text-align: center;
    padding: 2%;
    margin-bottom: 20%;
}

div.cards section {
    background-color: #071339;
    border: 5px solid #f6f07c;
    padding: 2%;
}

div.cards section section {
    border: none;
}

div.cards section h2 {
    color: #ffffff;
}

div.cards section p {
    color: #ffffff;
    font-style: italic;
}

div.cards section section div {
    background-color: #ffffff;
    border: 10px double #071339;
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2%;
}

div.cards section section div p {
 color: black;
 font-style: normal;
}

div.cards img {
    margin: 0 auto;
    width: 100%;
}


/*---------home features----------*/
div.link a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #071339;
    border: 5px double #f6f07c;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20%;
}

div.link a:hover {
    color: #071339;
    background-color: #f6f07c;
    border: 5px double #071339;
    box-shadow: 0px 0px 6px #071339;
}


p.home {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}


/*-----weather summary-----*/
.weather-summary {
    color: #ffffff;
    background-color: #071339;
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    margin: 0 auto;
    margin-bottom: 20%;
    border: 5px solid #f6f07c;
}

.weather-summary span.head-span {
    font-weight: bold;
}




/*----forecast rules----*/
#forecast, .table {
    display: none;
}

.table div {
    text-align: center;
}


/*----------article rules---------*/
figure.article-img img {
    width: 100%;
    height: auto;
    border: 8px solid #f6f07c;
}

p.article {
    margin-bottom: 20%;
}



/*-----events rules-------*/
section.events div {
    text-align: center;
    background-color: #071339;
    border: 10px double #ffffff;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    width: 100%;
}

section.events div h2 {
    color: #ffffff;
}

section.events div p {
    color: #f6f07c;
}

/*------contact rules----*/
figure.map-img iframe {
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0;
    margin-right: 2rem;
}





/*-------gallery grid rules------*/
section.gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    padding-top: 2%;
}

section.gallery figure {
    border: 10px double #b0d3e6;
    background-color: #071339;
}

section.gallery figcaption {
    font-size: 10px;
    color: #ffffff;
    padding: 2%;
    width: 300px;
}


/*--------form rules---------*/
form fieldset {
    margin: 2rem 0;
    border: 5px double #b0d3e6;
    padding: .5rem 4%;
}

form legend {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 15px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-weight: 700;
}

form label.top, form div {
    display: block;
    margin-top: 2rem;
    font-size: 15px;
}

form label.top input:required {
    border-left: 6px double red;
}

form label.top input:required:valid {
    border-left: 6px double #f6f07c;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #071339;
    padding: .75rem;
    margin-top: .5rem;
    width: 100%;
    max-width: 20rem;
}

form label#severity {
    font-size: 1rem;
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-top: 2rem;
}

form label#severity input {
    display: block;
    width: 100%;
    max-width: 20rem;
}

form span#ratingvalue {
    display: inline-block;
    text-align: center;
    background-color: #071339;
    color: #ffffff;
    margin-top: 2rem;
    padding: .5rem;
    width: 1rem;
    height: 1rem;
    border: 5px double #ffffff;
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #071339;
}

form textarea {
    display: block;
    margin-top: .5rem;
    width: 100%;
    height: 10rem;
    max-width: 20rem;
}

form input.submitButton {
    display: block;
    border: none;
    background-color: #071339;
    color: #f6f07c;
    padding: .75rem 1.5rem;
    margin-bottom: 5%;
    width: 100%;
    max-width: 20rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

form input.submitButton:hover {
    background-color: #b0d3e6;
    color: #071339;

}







/*--------footer rules--------*/

footer {
    padding: 0.5rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
    background-color: #f6f07c;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }