/*
COLOR SCHEME:
dark red: a11c1c
light pink: ff7474
creamy white: fffbf1
light yellow: ffff5c
light green: 53e718
green: 1d6700

FONTS:
Italianno - uber fancy
Cinzel Decorative - headlines
Alegreya Sans - normal text
*/

/*HOME RULES HOME RULES HOME RULES HOME RULES HOME RULES HOME RULES HOME RULES HOME RULES */

/*------body rules------*/
body {
    background-color: #fffbf1;
}


body h2 {
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
}


/*----------nav rules-----------*/
nav button {
    padding: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #ffff5c;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 12px;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #fffbf1;
    background-color: #a11c1c;
}

nav ul li a.active {
    color: #fffbf1;
    background-color: #ff7474;
}

nav ul li a:hover {
    color: #fffbf1;
    background-color: #ff7474;
}

/*-------header rules---------*/
header {
    background-color: #a11c1c;
    display: block;
    text-align: center;
}


header h2 {
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
}

/*------hero image-------*/
header div.home-hero {
    position: relative;
}

header div.home-hero figure {
    margin: 0 -2rem;
    padding: 0;

}

header div.home-hero figure img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
}

header div.home-hero div.div-1 {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    background-color: #53e718;
    border-radius: 100px 100px 0 0;
    position: absolute;
    bottom: 10px;
    left: 10%;
    right: 10%;

}

header h1 {
    font-family: "Italianno", cursive;
    font-size: 4rem;
    color: #fffbf1;
    padding: 2%;
    margin-top: 0;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    text-align: center;
}

header div.home-hero div.div-2 {
    width: 100%;
    height: 20px;
    margin: 0 auto 10% 0;
    padding: 0;
    background-color: #53e718;
}





/*--------main rules---------*/

main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5px;
    margin: 0 auto;
    font-family: "Alegreya Sans", sans-serif;
}

main h2 {
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    font-size: 30px;
}

main section {
    margin-bottom: 30%;
}

main img {
    display: block;
}

/*------weather forecast rules-----*/

#forecast-h2 {
    text-align: center;
    padding: 2%;  
}

#weather-forecast {
    text-align: center;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20%;
    background-color: #53e718;
}

#weather-forecast h3 {
    font-family: "Italianno", cursive;
    font-size: 40px;
}

#weather-forecast div {
    background-color: white;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}

#weather-forecast div p {
    font-size: 20px;
    margin: 10px;
}

#weather-forecast div p.temp {
    font-size: 40px;
}

#weather-forecast img {
    margin: 0 auto;
    width: 50%;
    border: 10px solid #ffff5c;
    background: #ff7474;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}


/*------home images rules--------*/

figure.home-img {
    padding: 0;
    margin: 0;
    margin-bottom: 20%;
    background-color: #ff747448;
    padding: 4%;
}

figure.home-img img {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: #a11c1c solid 5px;
    
}

figure.home-img figcaption {
    font-size: .8rem;
    text-align: center;
}

figure.home-img figcaption.tagline a{
    font-size: 1.2rem;
    display: block;
    color: #a11c1c;
    margin-top: 2%;
}




/*----------paragraph section Rules------*/
section.paragraph p {
    color: black;
    background-color: #53e71848;
    padding: 4%;
    border: #53e718 solid 5px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}


/*-------restaurants section rules-------*/
#restaurants {
    display: block;
    text-align: center;
    background-color: #a11c1c48;
    padding: 4%;
}

#restaurants div {
    background-color: #a11c1c;
    padding: 4%;
    color: #fffbf1;
    margin-bottom: 4%;
    border-radius: 10%;
}

#restaurants h3 {
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
}

#restaurants figure {
    padding: 0;
    margin: 0;
}

#restaurants img {
    box-sizing: border-box;
    padding: 0;
    width: 80%;
    border: 5px solid #ffff5c;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    margin: 0 auto;
}

#restaurants figcaption {
    font-size: .5rem;
}

#restaurants a {
    display: block;
    width: 30%;
    height: auto;
    padding: 4%;
    font-family: "Italianno", cursive;
    font-size: 2rem;
    text-decoration: none;
    color: #a11c1c;
    background-color: #ffff5c;
    border-radius: 20px;
    margin: 4% auto 0 auto;
}


/*-------upcoming events rules-----*/
section.events {
    background-color: #ffff5c48;
    padding: 4%;
    border: 5px #ffff5c solid;
}

section.events ul li {
    padding: 4%;
}

section.events span.date {
    font-size: 2rem;
    font-family: "Italianno", cursive;
}

section.events p {
    text-align: center;
    font-size: 1.3rem;
}

section.events p a {
    color: #a11c1c;
}



/*------join-now paragraph rules---*/
#join-now {
    background-color: #ff747448;
    border: #ff7474 5px solid;
    padding: 4%;
    text-align: center;
}

#join-now a {
    display: block;
    margin: 0 auto;
    padding: 2%;
    width: 30%;
    color: #ffff5c;
    background-color: #a11c1c;
    border: 5px solid #ffff5c;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-size: 30px;
}



/*-----contact rules-----*/
#contact {
    font-size: 20px;
    background-color: #53e718ab;
    border: 5px solid #53e718;
    padding: 4%;
    text-align: left;
}


/*----footer rules----*/

footer {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #a11c1c;
    padding: 4%;
    color: #fffbf1
}

footer a {
    color: #ffff5c;
}



/*CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES CITY RULES*/

/*-----attraction section rules-----*/
section.attraction {
    background-color: #ff747448;
    padding: 0;
    border: #ff7474 solid 5px;
}

section.attraction p {
    color: black;
    background-color: #ff747448;
    padding: 4%;
    margin: 10% 0 10% 0;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

section.attraction figure {
    padding: 0;
    margin: 0;
}

section.attraction img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

section.attraction figcaption {
    font-size: .8rem;
    text-align: center;
}

section.attraction a {
    display: block;
    margin: 4%;
    color: #a11c1c
}


/*---------more sites section rules---------*/
section#directions {
    padding: 4%;
    background-color: #a11c1c;
}

section#directions ul li {
    color: #ffff5c;
}

section#directions ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #ffff5c;
    background-color: #a11c1c;
}

section#directions ul li a:hover {
    color: #ff7474;
}


/*DIRECTORY RULES DIRECTORY RULES DIRECTORY RULES DIRECTORY RULES DIRECTORY RULES DIRECTORY RULES DIRECTORY RULES*/

#directory div {
    display: block;
    margin-bottom: 10%;
    padding: 4%;
    border-top-right-radius: 20%;
}

#directory div h3 {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1rem;
}

#directory div a {
    display: block;
    color: #a11c1c;
}

#directory div.non-profit {
    background-color: #53e71848;
    border: #53e718 solid 5px;
}

#directory div.bronze {
    background-color: #a11c1c48;
    border: #a11c1c solid 5px;
}

#directory div.silver {
    background-color: #ffffff;
    border: #cccccc solid 5px;
}

#directory div.gold {
    background-color: #ffff5c48;
    border: #ffff5c solid 5px;
}





/*JOIN RULES JOIN RULES JOIN RULES JOIN RULES JOIN RULES JOIN RULES JOIN RULES JOIN RULES JOIN RULES*/

form fieldset {
    margin: 2rem 0;
    border: 5px solid #53e718;
    background-color: #53e71848;
    padding: 4%;
}

form legend {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 20px;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
}

form label.top, form div {
    display: block;
    margin-top: 2rem;
    font-size: 15px;
}

form label.top input:required {
    border-left: 6px solid #a11c1c;
}

form label.top input:required:valid {
    border-left: 6px solid #53e718;
}

form label.required {
    font-weight: bold;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    padding: .75rem;
    margin-top: .5rem;
    width: 100%;
    max-width: 20rem;
}


form label.sbs {
    display: block;
    padding: 4%;
    color: black;
}

form input.submitButton {
    display: block;
    padding: 4%;
    color: #ffff5c;
    background-color: #a11c1c;
    border: 5px solid #ffff5c;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-size: 2.5rem;
    margin-bottom: 10%;
}

form input.submitButton:hover {
    background-color: #ffff5c;
    color: #a11c1c;
    border-color: #a11c1c;
}



/*CONTACT RULES CONTACT RULES CONTACT RULES CONTACT RULES CONTACT RULES CONTACT RULES CONTACT RULES CONTACT RULES*/
/*-----contact grid rules-----*/
#iframe {
    text-align: center;
}

#iframe figure iframe {
    width: 100%;
}

/*-------board of directors rules-----*/
#directors {
    background-color: #ffff5c48;
    padding: 2%;
    border: 5px #ffff5c solid;
}

#directors ul li {
    padding: 2%;
    font-family: "Cinzel Decorative";
    font-weight: bold;
    font-size: 1rem;
    list-style-type: none;
}



/*------form rules------*/

form textarea {
    display: block;
    margin-top: .5rem;
    width: 100%;
    height: 200px;
    max-width: 600px;
}
